
// Body
$body-bg: #ffffff;
$pbh-green: #168942;
$pbh-lightgreen: #CBDB2A;
$warning: #f0ad4e;

$primary: $pbh-green;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;