
// Body
$body-bg: #ffffff;
$green: #1b9148;
$blue: #2f7fca;
$red: #af0000;
$lightgreen: #6ac030;
$warning: #fc9300;

$primary: $blue;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;