/**
 * Definições de estilo específicas do sistema
 */
form .required:after {
    content:"*"; 
    color: red;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    padding-left: 3px;
    margin-top: -4px;
}

form input[type=checkbox].required:after,
form input[type=radio].required:after{
    padding-left: 15px!important;
    margin-top: -8px!important;
}